.Otpwrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

._input{

}

._input:focus{
    border: 1px solid #0077cc;
    outline:  1px solid #0077cc;
}

.resendOtpwrapper{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.timer{
    font-size: 2rem;
    color: #0077cc;
}